<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--  
      This key allows the service to lookup the information in the registry 
      Computer\HKEY_LOCAL_MACHINE\CurrentControlSet\Services\<ServiceName>
      Computer\HKEY_LOCAL_MACHINE\CurrentControlSet\Services\<ServiceName>\Parameters
    -->
    <add key="ServiceName" value="VSFWinServ"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <!-- When deploying the service library project, the content of the configuration file must be added to the host's 
  app.config file. System.Configuration does not support configuration files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="VirtualServicesFramework.Services.VirtualServices.GeneralServiceBehavior" name="VSF.Services.VirtualServices.MetadataService">
        <endpoint binding="netTcpBinding" name="netTcpBinding" contract="VSF.Services.VirtualServices.IMetadataService" listenUriMode="Explicit">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="mexTcpBinding" contract="IMetadataExchange" listenUriMode="Explicit"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2000/VSF.Services.VirtualServices/MetadataService/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="VirtualServicesFramework.Services.VirtualServices.GeneralServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
